/* Content */

.loading {
  height: 3em;
  background: url('../img/ajax-loader.gif') no-repeat center center;
}

.thumbnails {
  overflow: auto;
}
.thumbnails li {
  float: left;
  width: 22.75%;
  margin: 0 3% 3% 0;
  line-height: 0;
}
.thumbnails li img {
  width: 100%;
}
.thumbnails li.right {
  margin-right: 0;
}
.thumbnails.loading li {
  display: none
}

#detail figure img {
  width: 100%;
}
#detail figure.loading img, #detail figure.loading figcaption {
  display: none;
}