@import 'compass/reset';
@import 'compass/css3';

body {
  background: #e4e4e4 url('../../../../src/img/bg.jpg') repeat;
  @include background-size(200px 200px);
  color: #222222;
  font-family: 'Helvetica Neue', 'Helvetica-Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  text-shadow: 0 1px 0 white;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}

h1 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 42px;
}

h2 {
  color: #444444;
  font-size: 17px;
  font-weight: normal;
  line-height: 43px;

  strong {
    color: #222222;
  }
}

h3 {
  color: #666666;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  padding: 10px;
}

h4 {
  color: white;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  vertical-align: middle;
}

a {
  color: #444444;
}

img {
  max-width: 100%;
}


header {
  position: absolute;
  z-index: 1;

  display: block;
  width: 100%;
  height: 43px;
  border-bottom: 1px solid #823010;

  color: white;
  @include box-shadow(inset 0px 1px 0px rgba(255, 255, 255, 0.4), 0px 1px 3px rgba(0, 0, 0, 0.3));
  background: #f05800;
  @include background(linear-gradient(#fb8020, #f05800));
  -webkit-transform: translateZ(0);
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: translateZ(0);


  &.header-navigation {
    background: #222;
    @include background(linear-gradient(#3c3c3c, #222222));
    border-color: black;
    color: #999999;
    font-size: 11px;
    text-align: left;
    @include box-shadow(inset 0px 1px 0px rgba(255, 255, 255, 0.14));

    & > img {
      display: inline-block;
      margin: 6px 10px;
      vertical-align: middle;
      @include border-radius(3px);
    }
  }


  & > .header-button {
    background: #e24000;
    @include background(linear-gradient(#f36501, #e24000));
    border: 1px solid #bc3a00;
    color: white;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    left: 5px;
    line-height: 26px;
    padding: 0 8px;
    position: absolute;
    -webkit-transform: translateZ(0);
    top: 7px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    @include border-radius(5px);
    @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.25));

    &.right {
      left: auto;
      right: 5px;
    }

    &.icon span {
      @include background-size(17px 15px);
      display: inline-block;
      height: 15px;
      margin: 6px 2px 0;
      text-indent: -9999px;
      width: 17px;
    }

    &.menu span {
      background: transparent url('../../../../src/img/menu.png') no-repeat;
    }

    &.info span {
      background: transparent url('../../../../src/img/info.png') no-repeat;
    }
  }
}


nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  display: block;
  padding-top: 44px;
  -webkit-transform: translateZ(0);

  & > a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    color: #cccccc;
    display: block;
    height: 42px;
    font-size: 17px;
    font-weight: bold;
    line-height: 40px;
    margin: 0;
    padding: 0 0 0 10px;
    position: relative;
    -webkit-transform: translateZ(0);
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);

    &:after {
      position: absolute;
      right: 0;
      top: 0;

      display: block;
      height: 41px;
      width: 19px;

      content: ' ';
      opacity: 0.3;
      -webkit-transform: translateZ(0);
      background: transparent url('../../../../src/img/arrow-right-white.png') no-repeat left center;
      @include background-size(19px 14px);
    }

    &.selected {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      border-top: 1px solid rgba(255, 255, 255, 0.2);

      @include background(linear-gradient(#666, #555));
      color: white;

      &:after {
        opacity: 1;
      }
    }
  }
}


.stp-content {
  background: #e4e4e4 url('../../../../src/img/bg.jpg') repeat;
  @include background-size(200px 200px);
  @include box-sizing(border-box);
}

.stp-content-panel {
  background: #e4e4e4 url('../../../../src/img/bg.jpg') repeat;
  @include background-size(200px 200px);
}

.stp-nav {
  background: #444444 url('../../../../src/img/bg-gray.jpg') repeat;
  @include background-size(200px 200px);
  border-right: 1px solid black;
  width: 272px;
}



/* Content */

.thumbnails {
  overflow: auto;

  &.loading {
    height: 3em;
    background: url('../img/ajax-loader.gif') no-repeat center center;

    li {
      display: none;
    }
  }

  li {
    float: left;
    width: 22.75%;
    margin: 0 3% 3% 0;
    line-height: 0;

    &.right {
      margin-right: 0;
    }

    img {
      width: 100%;
    }
  }
}

#detail {
  figure {
    img {
      width: 100%;
    }

    figcaption { }
  }
}





