/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font-family: inherit;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  Sidetap Default Theme
  Demo app: Stonehenge
*/
body {
  background: #171a21;
  color: #fff;
  font-family: 'Helvetica Neue', 'Helvetica-Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}
h1 {
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 42px;
}
a {
  color: #9e6ab7;
}
.button {
  background: #743f8d;
  color: #fff;
  display: block;
  margin: 0 10px;
  padding: 15px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
img {
  max-width: 100%;
}
.stp-nav {
  background: #101318;
  border-right: 1px solid black;
  width: 272px;
}
nav {
  display: block;
}
nav > a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-size: 17px;
  font-weight: bold;
  height: 42px;
  line-height: 40px;
  margin: 0;
  padding: 0 0 0 10px;
  position: relative;
  text-decoration: none;
}
nav > a:after {
  background: transparent url('img/arrow-right-white.png') no-repeat left center;
  content: ' ';
  display: block;
  height: 41px;
  opacity: 0.3;
  position: absolute;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  right: 0;
  top: 0;
  width: 19px;
  -webkit-background-size: 19px 14px;
  -moz-background-size: 19px 14px;
  -o-background-size: 19px 14px;
  background-size: 19px 14px;
}
nav > a.selected {
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  color: white;
}
nav > a.selected:after {
  opacity: 1;
}
header {
  background: #532667;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #743f8d), color-stop(100%, #532667));
  background: -webkit-linear-gradient(top, #743f8d, #532667);
  background: -moz-linear-gradient(top, #743f8d, #532667);
  background: -o-linear-gradient(top, #743f8d, #532667);
  background: linear-gradient(top, #743f8d, #532667);
  border-bottom: 1px solid #281730;
  color: white;
  display: block;
  height: 43px;
  position: absolute;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.75);
  -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), 0px 1px 5px rgba(0, 0, 0, 0.75);
}
header .header-button {
  background: #472457;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66337c), color-stop(100%, #472457));
  background: -webkit-linear-gradient(top, #66337c, #472457);
  background: -moz-linear-gradient(top, #66337c, #472457);
  background: -o-linear-gradient(top, #66337c, #472457);
  background: linear-gradient(top, #66337c, #472457);
  border: 1px solid #32163d;
  color: white;
  font-size: 13px;
  font-weight: bold;
  height: 28px;
  left: 5px;
  line-height: 26px;
  padding: 0 8px;
  position: absolute;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  top: 7px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
  -o-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.15);
}
header .header-button.right {
  left: auto;
  right: 5px;
}
header .header-button.icon span {
  display: inline-block;
  text-indent: -9999px;
}
header .header-button.menu span {
  background: transparent url('img/menu.png') no-repeat;
  height: 15px;
  margin: 6px 2px 0;
  width: 17px;
  -webkit-background-size: 17px 15px;
  -moz-background-size: 17px 15px;
  -o-background-size: 17px 15px;
  background-size: 17px 15px;
}
header .header-button.info span {
  background: transparent url('img/info.png') no-repeat;
  height: 17px;
  margin: 5px 5px 0;
  width: 8px;
  -webkit-background-size: 8px 17px;
  -moz-background-size: 8px 17px;
  -o-background-size: 8px 17px;
  background-size: 8px 17px;
}
.stp-content {
  background: #171a21;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.stp-content-panel {
  background: #171a21;
}
.container {
  padding: 54px 10px 10px;
}
